* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: inherit;
  border: none;
  background: transparent;
  transition: opacity 0.3s;
}

button:hover {

}

button:focus,
button:focus-visible {
  
}

li {
  list-style: none;
}

:root {
  /* // n/a */
  --marginspacing-x2: 10px;

  --paddingspacing-x: 4px;
  /* // n/a */
  --paddingspacing-x2: 7px;
  /* // n/a */
  --paddingspacing-x3: 16px;
  --paddingspacing-x4: 11px;

  --text-primary: #130817E5;
  --text-accent: #6E328C;
  --text-tertiary: #13081766;

  --bg-surface-primary: #FFFFFF;
  --bg-surface-secondary-accent: #6E328C0F;

  --bg-primary: #007bff;
  --bg-active: #e6e6e6;
  --bg-danger: #F3294D;
  --bg-interective-primary: #1308170D;

  --border-primary: #1308171A;
  --border-secondary: #1308170D;
  --border-accent: #6E328C7A;

  /* // n/a */
  --radiusradius-x: 12px;
  /* // n/a */
  --radiusradius-x2: 8px;
}
